h1{
    
    color: aliceblue;
}
form{

    width: 200px;   
    padding: 300px;
    font-size: xx-large;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}
fieldset{
    
    width: max-content;
   
    
}